@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
body{
    background-color: #edecff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page{
    
    background-color: white;
    width: 100%;
    max-width: 420px;
    height: 550px;
    padding: 40px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 10px #bfbdbd;
    
}
.header-label{
    position: absolute;
    top: 60px;
    margin-bottom: 20px;
}

.header-label h2{
    color: #3C3C3C;
    font-weight: normal;
}
label{
    margin: 10px 0;
    display: block;
    font-size: 14px;
    color: #3C3C3C;
    
}

input{
    display: block;
}
input[type = text], input[type = password]{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    align-self: center;
    padding-left: 50px;
}

.login-page input[type = submit], .registration-page input[type=submit]{
    width: 100%;
    max-width: 200px;
    justify-self: center;
    margin: 50px 0;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #7082F7;
    color: white;
    font-weight: 570;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease;
}
.login-page input[type = submit]:hover, .registration-page input[type=submit]:hover{
    background-color: #5361b8;
}

.login-page p{
    text-align: center;
    justify-self: center;
    position: absolute;
    bottom: 30px;
    color: #3C3C3C;
    font-size: 14px;
}

.login-form{
    margin-top: 140px;
    position: relative;
}

i{
    position: absolute;
    
}

.login-page .email{
    top: 40px;
    left: 15px;
}
.login-page .password{
    bottom: 110px;
    left: 15px;
}

.registration-page{
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    background-color: white;
    box-shadow: 0 5px 10px #bfbdbd;
    height: 570px;
    padding: 40px;
    position: relative;
    
}

.ic{
    padding-top: 12px;
    padding-left: 17px;
}
.registration-page h1{
    margin-bottom: 20px;
}

.registration-page input[type = submit]{
    position: absolute;
    bottom: 40px;
}

.registration-page p{
    position: absolute;
    bottom: 30px;
    font-size: 14px;
    text-align: center;
    justify-self: center;
    
}

.eye{
    position: absolute;
    right: 50px;
    bottom: 185px;
    color: #3C3C3C;
    cursor: pointer;
    
}
.eye1{
    bottom: 263px;
}