* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*background: radial-gradient(circle at top, #3c0000, #000);*/
    background-image: conic-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("asino.png");
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    color: white;
}
/* NAVIGATION */
.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: transparent;
    
    z-index: 10;
}
.circular-frame {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}
.name-currency{
    width: auto;
    height: 40px;
    margin-right: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    display: inline-flex;
    justify-items: space-evenly;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 40px;
}

.box{
    background: rgba(85, 85, 85, 0.2);
    box-shadow: 0PX 2PX 10px rgb(0, 0, 0);
    backdrop-filter: blur(20px);
    width: auto;
    height: auto;
    
}

.left-container{
    width: 450px;
    height: 600px;
    margin-right: 20px;
}
.right-container{
    width: 800px;
    height: 600px;
}

.game-rules{
    width: 450px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.game-rules table,tr,td,th{
    
    font-size: 13px;
    text-align: center;
}
.game-rules table{
    height: 90%;
}
.game-bet-amount{
    width: 450px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.game-bet-amount input[type="Text"]{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    display: inline-flex;
    justify-items: space-evenly;
    align-items: center;
}

.game-bet-amount input[type = "submit"]{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    display: inline-flex;
    justify-items: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.game-options{
    width: 800px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
    border-radius: 10px;
}
.game-inaction{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.options-container{
    padding: 20px;
    width: 100%;
    height: 100%;
    display:grid;
    gap: 10px;
    grid-template-areas: 
    "opt1 opt2 opt3"
    "opt1 opt2 opt3"
    "opt4 opt5 opt6"
    "opt4 opt5 opt6";
}
.options-container .options{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.dice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.dice-container .dice{
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}